@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  font-family: variables.$font-main;
  font-size: 0.9rem;
  font-weight: variables.$font-weight-regular;
  text-align: center;
  color: white;
  margin-top: 75px;
  line-height: 1.6;

  @include mixins.breakpoint(medium) {
    margin-top: 60px;
  }

  @include mixins.breakpoint(small) {
    margin-top: 56px;
  }

  a {
    @include mixins.link-reset();
    color: variables.$color-lighter;
    transition: variables.$transition;
    transition: color variables.$transition;

    &:focus-visible {
      @include mixins.focus-outline(variables.$radius-small);
    }

    @media (hover: hover){
      &:hover {
        color: variables.$color-accent;
      }
    }
  
    &:active {
      color: variables.$color-accent;
    }
  }
}