@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as variables;

.header {
  @include mixins.link-reset();
  font-weight: variables.$font-weight-bold;
  font-size: 1rem;
  color: variables.$color-light;
  transition: color variables.$transition;

  &:focus-visible {
    @include mixins.focus-outline(variables.$radius-small);
  }

  &:active {
    color: variables.$color-darker;
  }

  @media (hover: hover) {
    &:hover {
      color: variables.$color-darker;
    }
  }

  @include mixins.breakpoint(medium) {
    display: block;
    text-align: center;
    font-size: 1.1rem;
    color: white;
    padding: 12px 0;

    &:active {
      color: variables.$color-accent;
    }

    @media (hover: hover) {
      &:hover {
        color: variables.$color-accent;
      }
    }
  }
}

.footer {
  @include mixins.link-reset();
  font-family: variables.$font-main;
  font-weight: variables.$font-weight-regular;
  font-size: 0.9rem;
  color: variables.$color-lighter;
  transition: color variables.$transition;

  &:focus-visible {
    @include mixins.focus-outline(variables.$radius-small);
  }

  @media (hover: hover){
    &:hover {
      color: variables.$color-accent;
    }
  }

  &:active {
    color: variables.$color-accent;
  }
}