@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  fill: white;
  transition: fill variables.$transition;

  &:focus-visible {
    @include mixins.focus-outline(variables.$radius-small);
  }

  @media (hover: hover){
    &:hover {
      fill: variables.$color-accent;
    }
  }

  &:active {
    fill: variables.$color-accent;
  }
}