@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  fill: white;
  transition: variables.$transition;

  @media (hover: hover){
    &:hover {
      fill: variables.$color-accent;
    }
  }

  &:active {
    fill: variables.$color-accent;
  }
}