@use '../../../styles/variables' as variables;

.section {
  padding-top: 30px;
  padding-bottom: 150px;
  overflow-x: hidden;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 60% 1fr;
  align-items: center;
  justify-items: flex-start;
}

.content {
  h1 {
    margin-block: 0;
    color: variables.$color-dark;
  }

  p {
    margin: 0;
    line-height: 1.5;
    font-weight: variables.$font-weight-regular;
    font-size: 1.35rem;
    color: variables.$color-light;
  }

  a {
    margin-block: 2em;
  }
}