@use '../styles/variables' as variables;

@mixin btn-reset {
  border: none;
  font-family: inherit;
}

@mixin link-reset {
  text-decoration: none;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin btn-base {
  background-color: variables.$color-accent;
  color: white;
  font-weight: variables.$font-weight-bold;
  cursor: pointer;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

@mixin card {
  background-color: white;
  border-radius: variables.$radius-small;
}

@mixin lighten-bg($color) {
  background-color: scale-color($color, $lightness: variables.$lighten-amount)
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin focus-outline($radius) {
  outline: 3px solid variables.$color-accent;
  outline-offset: 4px;
  border-radius: $radius;
}

@mixin sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@mixin breakpoint($breakpoint) {
  @if map-has-key(variables.$breakpoints, $breakpoint) {
    @media screen and (max-width: #{map-get(variables.$breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn '`#{$breakpoint}` is not defined in `$breakpoints` map';
  }
}