@use '../styles/variables' as variables;

@mixin btn-reset {
  border: none;
  font-family: inherit;
}

@mixin btn-base {
  @include btn-reset();
  color: white;
  font-weight: variables.$font-weight-bold;
}

@mixin lighten-bg($color) {
  background-color: scale-color($color, $lightness: variables.$lighten-amount)
}