@use './variables' as variables;

body {
  font-family: variables.$font-main;
}

h1 {
  font-weight: variables.$font-weight-bold;
  font-size: clamp(2.5rem, 11vw, 4.75rem);
}

h2 {
  font-weight: variables.$font-weight-bold;
  font-size: 2.4rem;
  font-size: clamp(1.7rem, 7vw, 2.4rem);
}

h3 {
  font-weight: variables.$font-weight-bold;
  font-size: 1.4rem;
}