$color-accent: hsl(180, 66%, 49%);
$color-secondary: hsl(257, 27%, 26%);

$color-error: hsl(0, 87%, 67%);

$color-lighter: hsl(0, 0%, 75%);
$color-light: hsl(257, 7%, 63%);
$color-dark: hsl(255, 11%, 22%);
$color-darker: hsl(260, 8%, 14%);

$font-main: 'Poppins', sans-serif;

$font-weight-regular: 500;
$font-weight-bold: 700;

$font-base-size: 1.125rem;

$radius-big: 2em;
$radius-small: 0.5em;

$lighten-amount: 40%;

$transition: all 0.1s ease-in-out;

$breakpoints: (
  small: 500px,
  medium: 900px,
  large: 1024px,
);