@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  ul {
    @include mixins.list-reset();

    li {
      margin-top: 12px;
    }
  }
}

.title {
  font-weight: variables.$font-weight-bold;
  font-size: 0.95rem;
  color: white;
  margin-top: 0;
  margin-bottom: 30px;
}