@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  margin-top: 90px;

  @include mixins.breakpoint(medium) {
    margin-top: 60px;
  }
}

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: variables.$color-dark;
    margin: 0.7em 0;
  }
  
  p {
    max-width: 46ch;
    width: fit-content;
    font-size: clamp(1rem, 3.6vw, 1.15rem);
    line-height: 1.4;
    margin: 0;
    color: variables.$color-light;
    font-weight: variables.$font-weight-regular;

    @include mixins.breakpoint(medium) {
      margin: 0.5em 0;
      line-height: 1.6;
    }

    @include mixins.breakpoint(small) {
      max-width: 30ch;
    }
  }
}

.articlesWrapper {
  margin-top: 100px;
  display: flex;
  gap: 34px;
  position: relative;

  @include mixins.breakpoint(medium) {
    margin-top: 85px;
    flex-direction: column;
    gap: 80px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 42%;
    height: 8px;
    width: 75%;
    background-color: variables.$color-accent;
    z-index: 0;

    @include mixins.breakpoint(medium) {
      top: 0;
      width: 8px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  article {
    &:nth-of-type(2) {
      margin-top: 44px;

      @include mixins.breakpoint(medium) {
        margin-top: 0;
      }
    }
  
    &:nth-of-type(3) {
      margin-top: 88px;

      @include mixins.breakpoint(medium) {
        margin-top: 0;
      }
    }
  }
}

.card {
  flex: 1;
  @include mixins.card();
  height: min-content;
  padding: 1.8em;
  z-index: 1;
}

.cardHeader {
  margin-top: calc(0px - (1.8em + 44px));

  @include mixins.breakpoint(medium) {
    display: flex;
    justify-content: center;
  }
}

.icon {
  width: 88px;
  height: 88px;
  border-radius: 44px;
  background-color: variables.$color-secondary;
  display: grid;

  svg {
    place-self: center;
    fill: variables.$color-accent;
  }
}

.cardContent {
  margin-top: 44px;

  @include mixins.breakpoint(medium) {
    margin-top: 36px;
  }

  h3 {
    color: variables.$color-darker;
    margin: 0;

    @include mixins.breakpoint(medium) {
      text-align: center;
    }
  }

  p {
    font-size: 0.95rem;
    font-weight: variables.$font-weight-regular;
    color: variables.$color-light;
    line-height: 1.7;
    margin: 1.2em 0;

    @include mixins.breakpoint(medium) {
      text-align: center;
    }
  }
}