@use '../../../styles/mixins' as mixins;

.component {
  height: 140px;
  display: flex;
  align-items: center;
  position: relative;

  @include mixins.breakpoint(medium) {
    height: 110px;
  }
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;

  @include mixins.breakpoint(medium) {
    justify-items: flex-end;
  }
}

.logoWrapper {
  display: flex;

  a {
    margin: auto 0;
  }
}

.divider {
  display: none;

  @include mixins.breakpoint(medium) {
    display: block;
    border-top: 1px solid transparentize(white, 0.8);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 24px 0;
  }
}