@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as variables;

.component {
  height: 140px;
  display: flex;
  align-items: center;
  position: relative;
}

.nav {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
}

.logoWrapper {
  display: flex;

  a {
    margin: auto 0;
  }
}

.menuBtn {
  display: none;
}

.divider {
  display: none;

  @include mixins.breakpoint(medium) {
    display: block;
    border-top: 1px solid transparentize(white, 0.8);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 24px 0;
  }
}

@include mixins.breakpoint(medium) {
  .component {
    height: 110px;
  }

  .nav {
    justify-items: flex-end;
  }

  .menuBtn {
    @include mixins.btn-reset();
    background-color: transparent;
    display: block;
    width: fit-content;
    padding: 8px;
    cursor: pointer;

    &:focus-visible {
      @include mixins.focus-outline(variables.$radius-small);
    }

    svg {
      font-size: 28px;
      display: block;
      color: variables.$color-light;
      transition: variables.$transition;
    }
  }

  .menuBtnActive {
    svg {
      color: variables.$color-darker;
    }
  }
}