@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  margin-top: 24px;
  @include mixins.card();
  padding: 16px 32px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: 1fr;
  grid-template-areas: 'original shortened btn';
  align-items: center;
  gap: 24px;

  @include mixins.breakpoint(medium) {
    display: block;
    padding: 0;
  }
}

.originalLink {
  grid-area: original;
  @include mixins.ellipsis();
  font-size: 1.25rem;
  font-weight: variables.$font-weight-regular;
  color: variables.$color-darker;

  span {
    margin: 0;
  }

  @include mixins.breakpoint(medium) {
    font-size: 1rem;
    margin: 0;
    padding: 16px;
  }
}

.divider {
  margin: 0;
  border: none;
  border-top: 1px solid transparentize(variables.$color-lighter, 0.5);
  display: none;

  @include mixins.breakpoint(medium) {
    display: block;
  }
}

.shortenedLink {
  grid-area: shortened;
  @include mixins.ellipsis();
  text-align: end;
  font-size: 1.25rem;
  font-weight: variables.$font-weight-regular;
  color: variables.$color-accent;

  span {
    margin: 0;
  }

  mark {
    background-color: transparent;
    color: variables.$color-accent;
  }

  @include mixins.breakpoint(medium) {
    font-size: 1rem;
    text-align: start;
    margin: 16px;
  }
}

.divider {
  display: none;

  @include mixins.breakpoint(medium) {
    display: block;
    border: none;
    border-top: 1px solid transparentize(variables.$color-lighter, 0.5);
  }
}

.copyButton {
  grid-area: btn;
  @include mixins.btn-reset();
  @include mixins.btn-base();
  background-color: variables.$color-accent;
  border-radius: variables.$radius-small;
  font-size: 1rem;
  height: fit-content;
  padding: 8px 32px;
  transition: variables.$transition;

  &:focus-visible {
    @include mixins.focus-outline(variables.$radius-small);
  }

  &:active {
    @include mixins.lighten-bg(variables.$color-accent);
  }

  @media (hover: hover){
    &:hover {
      @include mixins.lighten-bg(variables.$color-accent);
    }
  }

  @include mixins.breakpoint(medium) {
    width: calc(100% - 2 * 16px);
    margin: 0 16px 16px 16px;
  }
}

.copyButtonSuccess {
  background-color: variables.$color-secondary;

  &:active {
    @include mixins.lighten-bg(variables.$color-secondary);
  }

  @media (hover: hover){
    &:hover {
      @include mixins.lighten-bg(variables.$color-secondary);
    }
  }
}

.copyButtonError {
  background-color: variables.$color-error;

  &:active {
    @include mixins.lighten-bg(variables.$color-error);
  }

  @media (hover: hover){
    &:hover {
      @include mixins.lighten-bg(variables.$color-error);
    }
  }
}