@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  position: relative;
}

.form {
  position: absolute;
  top: -190px;
  background-color: variables.$color-secondary;
  background-image: url('../../../images/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 60px;
  width: 100%;
  display: flex;
  gap: 24px;
  border-radius: variables.$radius-small;

  @include mixins.breakpoint(medium) {
    top: -205px;
    background-image: url('../../../images/bg-shorten-mobile.svg');
    background-size: 73% 80%;
    background-position: top right;
    flex-direction: column;
    padding: 24px;
    gap: 20px;
  }
}

.input {
  @include mixins.btn-reset();
  border-radius: variables.$radius-small;
  padding: 0.8em 1.5em;
  width: 100%;
  font-size: 1.3rem;
  color: variables.$color-dark;
  font-weight: variables.$font-weight-regular;
  text-overflow: ellipsis;

  @include mixins.breakpoint(medium) {
    padding: 0.6em 1em;
    font-size: 1rem;
  }
}

.submitButton {
  @include mixins.btn-reset();
  @include mixins.btn-base();
  border-radius: variables.$radius-small;
  background-color: variables.$color-accent;
  padding: 0.8em 2em;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: variables.$font-weight-bold;

  &:active {
    @include mixins.lighten-bg(variables.$color-accent);
  }

  @media (hover: hover){
    &:hover {
      @include mixins.lighten-bg(variables.$color-accent);
    }
  }

  @include mixins.breakpoint(medium) {
    padding: 0.6em 1em;
    font-size: 1.1rem;
  }
}

.links {
  ul {
    @include mixins.list-reset();
  }
}