@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.form {
  margin-top: -190px;
  background-color: variables.$color-secondary;
  background-image: url('../../../images/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 60px;
  width: 100%;
  display: flex;
  gap: 24px;
  border-radius: variables.$radius-small;
  position: relative;

  @include mixins.breakpoint(medium) {
    margin-top: -180px;
    background-image: url('../../../images/bg-shorten-mobile.svg');
    background-size: 73% 80%;
    background-position: top right;
    flex-direction: column;
    padding: 24px;
    gap: 20px;
  }
}

.links {
  ul {
    @include mixins.list-reset();
  }
}