@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  position: relative;
}

.form {
  display: none;
  position: absolute;
  top: -90px;
  background-color: variables.$color-secondary;
  background-image: url('../../../images/bg-shorten-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 60px;
  width: 100%;
  display: flex;
  gap: 24px;
  border-radius: variables.$radius-small;
}

.input {
  @include mixins.btn-reset();
  border-radius: variables.$radius-small;
  padding: 0.8em 1.5em;
  width: 100%;
  font-size: 1.3rem;
  color: variables.$color-dark;
  font-weight: variables.$font-weight-regular;
}

.submitButton {
  @include mixins.btn-reset();
  @include mixins.btn-base();
  border-radius: variables.$radius-small;
  background-color: variables.$color-accent;
  padding: 0.8em 2em;
  white-space: nowrap;
  font-size: 1.3rem;
  font-weight: variables.$font-weight-bold;

  &:active {
    @include mixins.lighten-bg(variables.$color-accent);
  }

  @media (hover: hover){
    &:hover {
      @include mixins.lighten-bg(variables.$color-accent);
    }
  }
}

.links {
  padding-top: 80px;

  ul {
    @include mixins.list-reset();
  }
}

.link {
  margin-top: 18px;
  @include mixins.card();
  padding: 1em 1.5em;
  width: 100%;
  display: grid;
  grid-auto-rows: 1fr 1fr; 
  grid-template-columns: 1fr 25% min-content;
  grid-template-rows: 1fr;
  grid-template-areas: 'original shortened btn';
  align-items: center;
  gap: 24px;
}

.originalLink {
  grid-area: original;
  @include mixins.ellipsis();
  font-size: 1.25rem;
  font-weight: variables.$font-weight-regular;
  color: variables.$color-darker;

  span {
    margin: 0;
  }
}

.shortenedLink {
  grid-area: shortened;
  @include mixins.ellipsis();
  text-align: end;
  font-size: 1.25rem;
  font-weight: variables.$font-weight-regular;
  color: variables.$color-accent;

  span {
    margin: 0;
  }

  mark {
    background-color: transparent;
    color: inherit;
  }
}

.copyButton {
  grid-area: btn;
  @include mixins.btn-reset();
  @include mixins.btn-base();
  background-color: variables.$color-accent;
  border-radius: variables.$radius-small;
  font-size: 1rem;
  height: fit-content;
  padding: 0.5em 2em;

  &:active {
    @include mixins.lighten-bg(variables.$color-accent);
  }

  @media (hover: hover){
    &:hover {
      @include mixins.lighten-bg(variables.$color-accent);
    }
  }
}