@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  @include mixins.btn-reset();
  border-radius: variables.$radius-small;
  padding: 12px 32px;
  width: 100%;
  font-size: 1.3rem;
  color: variables.$color-dark;
  font-weight: variables.$font-weight-regular;
  text-overflow: ellipsis;
  transition: variables.$transition;

  &:focus-visible {
    @include mixins.focus-outline(variables.$radius-small);
  }

  @include mixins.breakpoint(medium) {
    padding: 10px 16px;
    font-size: 1rem;
  }
}

.label {
  @include mixins.sr-only();
}

.error {
  border: 3px solid variables.$color-error;

  &::placeholder {
    color: variables.$color-error;
  }
}

.errorMessage {
  position: absolute;
  bottom: 24px;

  @include mixins.breakpoint(medium) {
    position: static;
    bottom: initial;
    margin-top: -16px;
  }

  span {
    font-weight: variables.$font-weight-regular;
    font-size: 1rem;
    color: variables.$color-error;
    font-style: italic;

    @include mixins.breakpoint(medium) {
      font-size: 0.75rem;
    }
  }
}