@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  margin-top: 10px;
  height: 250px;
  background-image: url('../../../images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: variables.$color-secondary;
  padding: 32px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    color: white;
  }

  a {
    width: fit-content;
  }
}