@use '../../../styles/variables' as variables;
@use '../../../styles/mixins' as mixins;

.component {
  background-image: url('../../../images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: variables.$color-secondary;
  padding: 60px 0;

  @include mixins.breakpoint(small) {
    background-image: url('../../../images/bg-boost-mobile.svg');
    padding: 90px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  @include mixins.breakpoint(small) {
    gap: 24px;
  }

  h2 {
    color: white;
    margin: 0;
    text-align: center;
  }

  a {
    width: fit-content;
  }
}